name: Testing stuff

on:
  push:
    branches: [test-job]

jobs:
  a_test_job:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: gihub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
          JOIN_MESSAGES: ${{ join(toJson(github.event.commits.*.message), " ") }}
          SKIP_MESSAGES: ${{ contain(join(toJson(github.event.commits.*.message), " "), "#skip") }}
        run: echo "$COMMIT_MESSAGES" |
             echo "$JOIN_MESSAGES" |
             echo "$SKIP_MESSAGES"
        